<%# locals: (card_grant:) %>

<% if card_grant.pending_invite? %>
  <div class="flex flex-col w-100 gap-4">
    <% if card_grant.stripe_cards_enabled? %>
      <%# Prompt user to create a Stripe Card %>
      <div class="w-full">
        <div class="card border b--info">
          <h2 class="mt-0">Get a virtual card</h2>
          <p>
            Get a virtual debit card to spend money online or in-person with digital wallets.
          </p>
          <%= form_with url: activate_card_grant_path(card_grant) do |form| %>
            <div class="field field--checkbox mb2" style="display: grid; grid-template-columns: min-content 1fr;">
              <%= form.check_box :purpose, required: true %>
              <%= form.label :purpose do %>
                I will only use this card for the intended purpose
                <% if card_grant.purpose.present? %>
                  (<strong><%= card_grant.purpose %></strong>)
                <% end %>
                and adhere to the instructions provided by <%= card_grant.event.name + (card_grant.instructions.present? ? ":" : "") %>
              <% end %>
              <% if card_grant.instructions.present? %>
                <div></div> <%# this empty <div> exists for layout purposes to handle checkbox alignment %>
                <div class="card card--sunken py-0">
                  <%= MarkdownService.instance.render(card_grant.instructions) %>
                </div>
              <% end %>
            </div>
            <div class="field field--checkbox mb2">
              <%= form.check_box :policy, required: true %>
              <%= form.label :policy do %>
                I will abide by the <%= link_to "Code of Conduct", "https://hackclub.com/conduct", target: :_blank %> and understand that fraudulent activity will result in a ban
              <% end %>
            </div>
            <div class="field field--checkbox mb2">
              <%= form.check_box :terms, required: true %>
              <%= form.label :terms do %>
                I agree to the <%= link_to "Card Issuing Terms", "https://stripe.com/legal/issuing/celtic-authorized-user-terms", target: :_blank %>
              <% end %>
            </div>
            <div class="actions">
              <%= form.submit "Get a virtual card" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if card_grant.reimbursement_reports_enabled? && card_grant.balance.positive? %>
      <div class="w-full">
        <div class="card border">
          <h2 class="mt-0">Open a reimbursement</h2>
          <p>
            If you can't use a grant card and have a bank account in a
            <%= link_to "supported country", "https://stripe.com/global", target: :_blank %>,
            reimburse yourself up to <%= render_money card_grant.balance %>.
          </p>
          <%= link_to convert_to_reimbursement_report_event_card_grant_path(id: card_grant.hashid, event_id: card_grant.event.slug),
                      method: :post,
                      data: { confirm: "Are you sure? This will cancel your card grant and convert it into a reimbursement report." },
                      class: "btn" do %>
            Open a reimbursement
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
